@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Manrope', sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bg-linear-gray{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50.24%, rgba(255, 255, 255, 0) 102.54%);
}
.custom-gradient{
  background: linear-gradient(238.15deg, rgba(252, 122, 105, 0.90) -11.09%, rgba(38, 0, 87, 0.90) 238.15%);
}
.text-linear-gray{
  background: linear-gradient(253deg, #FFF -6.54%, rgba(255, 255, 255, 0.13) 105.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
